Checks: >
  google-*,
  portability-*,
  performance-*,
  cert-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: >
  -*,
  google-*,
  portability-*,
  performance-*,
  cert-*,
  bugprone-*,
