# from: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
IndentCaseLabels: true
AccessModifierOffset: -4
IndentAccessModifiers: false
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
