Checks: >
  google-*,
  -google-readability-braces-around-statements,
  portability-*,
  performance-*,
  cert-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: >
  -*,
  google-*,
  -google-readability-braces-around-statements,
  portability-*,
  performance-*,
  cert-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp
